<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel Planner</title>
</head>
 <body>
<div id = "app">
  <div class ="holder headline">
    <h1>Travel Planner</h1>
  </div>
  <div class ="holder_city">
    <label for="citystate">My trip to:</label>
    <input type="text" id="citystate" maxlength=50 placeholder="Enter destination City and State/Country code here">
  </div>
  <div class ="holder_depart">
    <label for="departdate">Departing Date:</label>
    <input type="date" id="departdate" name="departdate">
    <p></p>
    <p></p>
    <button id="savetrip" type = "submit"> Save trip </button>
    <button id="removetrip" type = "submit"> Remove trip </button>
  </div>
  <div class ="holder_entry">
    <div class = "title">Trip Info</div>
    <div id = "entryHolder">
      <div><img id = "travelImg"></div>
      <div id = "citystateHolder"></div><div id = "countryHolder"></div><div id = "daysuntildepart"></div>
      <div id = "longitudeHolder"></div>
      <div id = "latitudeHolder"></div>
      <p>Typical weather for then is:</p>
      <div id = "hightempHolder"></div><p> </p><div id = "lowtempHolder"></div>
      <div id = "typicalweatherHolder"></div>
   </div>
  </div>
  </div>
<footer>
  <div><img id= "logoImg" alt="LK Logo" class="logo"></div>
  <p>Udacity CAPSTONE Travel App Project</p>
</footer>
</body>
</html>