@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



/* Typeography General*/
h1 {
    font-size: 64px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 8px;
    margin-right: 2px;
}

h2 {
    font-size: 32px;
    font-family: 'Oswald', Sans-Serif;
    color: black;
}
h3 {
    font-size: 28px;
    font-family: 'Oswald', Sans-Serif;
    color: black;
}

h4 {
    font-size: 24px;
    font-family: 'Oswald', Sans-Serif;
    font-weight: 700;
 }

p {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 400;
}

label {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight:700;
}

button {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding: 0 6px;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 100px;
    background: white;
    cursor: pointer;
}

button:hover {
    background-color: goldenrod;
}


html, body {
    background: beige;
    font-family: 'Oswald';
    font-size: 22px;
    width: 100%;
    height: 100%;
    margin: 0;
    color: black;
}

div {
    display: inline;
}

input {
    background-color: white;
    font-family: 'Oswald', sans-serif;
    cursor: text;
    font-size: 14px;
    text-indent: 2px;
    border-color: darkslategray;
    border-width: 1px;
}
.headline {
    font-size: 64px;
    background-color: white;
    grid-area: header;
}

.content {
    grid-area: main;
}

.content-image {
    float: left;
    height: 300px;
    width: 400px;
    margin: 0px 8px 0 0;

}

.content-info{
    float: right;
    padding-top: 24px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 4px;
}

#citystate {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 20px;
    width: 288px;
}

.results-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 32px;
    padding-left: 8px;
}

.results {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 24px;
    padding-left: 8px;
}

#departdate {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

#travelImg {
    height: 288px;
    width: 384px;
    padding-top: 8px;
    padding-right: 0;
    padding-bottom: 4px;
    padding-right: 2px;
}

#weathericon {
    height: 40px;
    width: 40px;
}
/* Footer Styles */
.footer {
    background: beige;
    color: black;
    text-align: left;
    display: inline-flex;
    height: 48px;
    grid-area: footer;
}

footer.logo {
    height: 32px;
    width: 32px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

footer p{
    font-family: 'Oswald', sans-serif;
    color: black;
    font-style: italic;
    font-weight: bolder;
    text-align: left;
    grid-area: footer;
}

/* If screen is small */
@media(max-width: 375px){
    .container{
      background: beige;  
      display: grid;
      grid-template-rows: 80px auto 64px;
      grid-template-areas: 
        "header" 
        "main" 
        "footer";
    }
}
  
/* If screen is medium */
@media(min-width: 376px) and (max-width: 900px){
    .container{
        background: beige;   
        display: grid;
        grid-template-columns: 256px 256px 256x 256px;
        grid-template-rows: 80px auto 64px;
        grid-template-areas: 
        "header header" 
        "main main" 
        "footer footer";
    }
}
  
/* If screen is large */
@media(min-width: 901px){
    .container{
        background: beige;  
        display: grid;
        grid-template-columns: 256px 256px 256x 256px;
        grid-template-rows: 80px auto  64px;
        grid-template-areas: 
        "header header header" 
        "main main main" 
        "footer footer footer";
    }
}





/* #app{
    display: grid;
    grid-auto-rows: minmax(80px, auto);
    height:100vh;
    background: beige;
    color: black;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
} */

/* Reset style for HTML element on active to have no border
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}*/


/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: black; 
    font-family: 'Oswald', sans-serif;
    font-size: 18px;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: black; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: black; 
    font-family: 'Oswald', sans-serif;

}









