/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */

body {
    background: beige;
    font-family: 'Oswald';
    font-size: 22px;
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    color:black;
}

html {
    scroll-behavior: smooth;
}


/* Typeography General*/
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    margin: 5em 1em;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 64px;
        margin: auto;
        color: black;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oswald', Sans-Serif;
    font-size: 3em;
    color: black;
}

h4 {
    font-size: 2em;    
    font-family: 'Oswald', Sans-Serif;
 }

p {
    line-height: 1.6em;
    color: black;
}

label {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

button {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: normal;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10%;
    background-color: white;
}

#citystate {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.holder_city {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

#departdate {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: normal;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
    background-color: beige;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    background: beige;
    color: black;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: black; 
    font-family: 'Oswald', sans-serif;
    font-size: 14px;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: black; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: black; 
    font-family: 'Oswald', sans-serif;

}

/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 1em;
    margin: 0;
    text-align: left;
}

.navbar__menu li {
    /* Change the display for responsive */
    display: inline-flex;
    padding: 1em;
}

.navbar__menu li .current a{
    background-color: beige;
    color: black;
}

.navbar__menu .menu__link {
    /* Change the display for responsive */
    display: flex;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

/* set the menu bar item with a different color */
.navbar__menu .menu__link .current a {
    background-color: beige;
    color: black;
}





